--- !ruby/object:ManagedService
cont_user_id: 22012
container_name: syslog
publisher_namespace: EnginesSystem
type_path: syslog
ctype: service
persistent: false
last_error: 
memory: '128'
hostname: syslog
domain_name: 
kerberos: false
environments: []
image: _Engines_System(flavor)/syslog:_Engines_System(release)
volumes:
 logs: 
  name: logdir
  remotepath: "/var/log/rmt/"
  localpath: "/var/lib/engines/services/syslog/rmt/"
  permissions: rw
port: 
mapped_ports:
repo: na
last_result: 
setState: running
conf_register_site: false
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"