--- !ruby/object:ManagedService
cont_user_id: 22018
container_name: nfs
ctype: service
publisher_namespace: EnginesSystem
type_path: filesystem/service/nfs
persistent: true
last_error: 
memory: '36'
hostname: nfs
domain_name: 
kerberos: false
environments: []
image: _Engines_System(flavor)/nfs:_Engines_System(release)
volumes:
 ssl_certs: 
 fs_rw: 
  name: fs_rw
  remotepath: "/nfs/rw/"
  localpath: "/var/lib/engines/apps/"
  permissions: "rw"
 fs_ro: 
  name: fs_ro
  remotepath: "/nfs/ro/"
  localpath: "/var/lib/engines/apps/"
  permissions: "rw"
 cgroup: 
  name: cgroup
  remotepath: "/sys/fs/cgroup"
  localpath: "/sys/fs/cgroup"
  permissions: "ro"
port: 
mapped_ports:
 rpc:
  name: rpc
  port: 111
  publicFacing: true
  external: 111
 mountd: 
  name: mountd
  port: 2049
  publicFacing: true
  external: 2049
 lockd: 
  name: lockd
  port: 32768
  publicFacing: true
  external: 32768
repo: na
last_result: 
setState: nocontainer
conf_register_site: false
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"
- "syslog"