
ADD build_scripts /build_scripts
ADD home /home
COPY engines /home/engines

ENV CONTFSVolHome /home/fs/
USER 0
RUN  /build_scripts/set_cont_user.sh &&\
    apt-get update -y ;\
	mkdir -p /opt;\
	chown $ContUser /opt
