--- !ruby/object:ManagedService
cont_user_id: 22016
container_name: cron
ctype: service
conf_self_start: true
persistent: false
soft_service: true
publisher_namespace: EnginesSystem
type_path: cron
last_error: 
memory: '96'
hostname: cron
domain_name: 
kerberos: false
aliases: 
 - schedule
environments:
image: _Engines_System(flavor)/cron:_Engines_System(release)
volumes: 
port: 
mapped_ports:
repo: na
last_result: 
setState: running
nginxored: false
conf_register_site: false
conf_register_dns: true
dependant_on:
- "dns"
- "syslog"
