--- !ruby/object:ManagedService
container_name: redis
ctype: service
conf_self_start: true
persistent: false
publisher_namespace: EnginesSystem
type_path: redis
last_error: 
memory: '64'
hostname: redis
domain_name: 
environments: []
image: _Engines_System(flavor)/redis:_Engines_System(release)
volumes:
 store: 
  name: store
  remotepath: "/var/lib/redis"
  localpath: "/var/lib/engines/services/redis"
  permissions: rw
port: 
mapped_ports:
repo: na
last_result: 
setState: nocontainer
nginxored: false
conf_register_site: false
conf_register_dns: true
dependant_on:
- "dns"
- "syslog"
