--- !ruby/object:ManagedService
cont_user_id: 22002
container_name: pgsqld
publisher_namespace: EnginesSystem
type_path: database/sql/pgsql
ctype: service
persistent: true
last_error: 
memory: '256'
stop_timeout: 500
hostname: pgsql
domain_name: 
kerberos: false
environments: []
image: _Engines_System(flavor)/pgsql:_Engines_System(release)
volumes:
 pg_database: 
  name: pg_database
  remotepath: "/var/lib/postgresql/"
  localpath: "/var/lib/engines/services/pgsqld"
  permissions: "rw"
port: 
mapped_ports:
 pgsql: 
  name: pgsql
  port: 3306
  publicFacing: false
  external: 0
repo: na
last_result: 
setState: nocontainer
conf_register_site: false
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"