[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
ExecStart=/usr/bin/dockerd -H fd://  --dns 172.17.0.1 --bip=172.17.0.1/16   --dns 8.8.8.8  --storage-driver=aufs  --userland-proxy=false
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
