--- !ruby/object:ManagedService
cont_user_id: 22022
container_name: certs
ctype: service
conf_self_start: true
persistent: true
publisher_namespace: EnginesSystem
type_path: certs
last_error: 
memory: '32'
hostname: certs
no_cert_map: true
domain_name: 
kerberos: false
environments: []
image: _Engines_System(flavor)/certs:_Engines_System(release)
volumes: 
  certs_store: 
   name: certs_store
   remotepath: "/home/certs/store"
   localpath: "/var/lib/engines/services/certs/store"
   permissions: rw
  CA_store: 
   name: CA_store
   remotepath: "/home/certs/CA"
   localpath: "/var/lib/engines/services/certs/CA"
   permissions: ro   
  container_public: 
   name: container_public
   remotepath: "/home/engines/system/containers"
   localpath: "/opt/engines/run/public/services"
   permissions: ro   
port: 
mapped_ports:
repo: na
last_result: 
setState: running
conf_register_site: false
conf_register_dns: true
dependant_on:
- "dns"
- "syslog"