--- !ruby/object:ManagedService
cont_user_id: 22007
publisher_namespace: EnginesSystem
type_path: filesystem/local/filesystem
container_name: volmgr
ctype: service
persistent: true
conf_self_start: true
last_error: 
memory: '64'
hostname: volmgr
domain_name: 
kerberos: false
environments: []
image: _Engines_System(flavor)/fs:_Engines_System(release)
volumes: 
 fs_rw: 
  name: fs_rw
  remotepath: "/var/fs/local/"
  localpath: "/var/lib/engines/apps/"
  permissions: "rw"
 homes: 
  name: homes
  remotepath: "/var/fs/homes/"
  localpath: "/var/lib/engines/home/"
  permissions: "rw"
 secrets: 
  name: secrets
  remotepath: "/var/secrets/"
  localpath: "/var/lib/engines/secrets/"
  permissions: "rw"
mapped_ports: 
repo: na
last_result:
setState: running
conf_register_site: false
conf_register_dns: true
conf_self_start: true