--- !ruby/object:ManagedService
cont_user_id: 22005
container_name: wap
publisher_namespace: EnginesSystem
type_path: wap
ctype: service
persistent: false
publisher_namespace: EnginesSystem
type_path: wap
last_error: 
memory: '80'
hostname: wap
domain_name: 
kerberos: false
environments: []
image: _Engines_System(flavor)/wap:_Engines_System(release)
kerberos: true
volumes: 
port: 
mapped_ports:
 https:
  name: https
  port: 4430
  publicFacing: true
  external: 443
 http: 
  name: http
  port: 8000
  publicFacing: true
  external: 80
repo: na
last_result: 
setState: running
conf_register_site: false
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"
