--- !ruby/object:ManagedService
container_name: backup
publisher_namespace: EnginesSystem
type_path: backup
ctype: service
persistent: false
conf_self_start: true
last_error: 
memory: '256'
hostname: backup
domain_name: 
kerberos: false
environments: []
image: _Engines_System(flavor)/backup:_Engines_System(release)
system_keys:
- "run_backup_on_engine"
- "run_backup_on_service"
- "run_system_backup"
- "run_system_logs_backup"
volumes:
 ApplicationVolumes: 
  name: ApplicationVolumes
  remotepath: "/backup_src/volumes/fs"
  localpath: "/var/lib/engines/apps"
  permissions: "rw"
 ServiceVolumes: 
  name: ServiceVolumes
  remotepath: "/backup_src/volumes/services"
  localpath: "/var/lib/engines/services"
  permissions: "ro"
 ServiceTypes: 
  name: ServiceTypes
  remotepath: "/opt/engines/etc/services/providers/"
  localpath: "/opt/engines/etc/services/providers/"
  permissions: "ro"
 Destinations: 
  name: Destinations
  remotepath: "/var/lib/engines/local_backup_dests/"
  localpath: "/var/lib/engines/backup_paths"
  permissions: "rw"
 BackupLogs: 
  name: BackupLogs
  remotepath: "/var/log/backup"
  localpath: "/var/log/engines/services/backup/"
  permissions: "rw"
 SystemLogs: 
  name: SystemLogs
  remotepath: "/backup_src/logs"
  localpath: "/var/log/engines/"
  permissions: "rw"
 BackupKeys: 
  name: BackupKeys
  remotepath: "/home/backup/.gnupg"
  localpath: "/opt/engines/etc/backup/keys/"
  permissions: "rw"
port: 
mapped_ports: 
last_result:
setState: running
nginxored: false
large_temp: true
conf_register_site: false
conf_register_dns: true
dependant_on:
- "dns"
- "volmgr"
- "syslog"
