--- !ruby/object:ManagedService
container_name: backup
publisher_namespace: EnginesSystem
type_path: backup
ctype: service
persistant: false
conf_self_start: true
last_error: 
memory: '128'
hostname: backup
domain_name: 
environments: []
image: engines/backup:_Engines_System(release)
volumes:
 Volumes: !ruby/object:Volume
  name: Volumes
  remotepath: "/backup_src/volumes/"
  localpath: "/var/lib/engines/"
  mapping_permissions: "ro"
 Engines:  !ruby/object:Volume
  name: Engines
  remotepath: "/backup_src/engines/"
  localpath: "/opt/engines/"
  mapping_permissions: "ro"
 Destinations: !ruby/object:Volume
  name: Destinations
  remotepath: "/var/lib/engines/local_backup_dests/"
  localpath: "/var/lib/engines/backup_paths"
  mapping_permissions: "rw"
 BackupLogs: !ruby/object:Volume
  name: BackupLogs
  remotepath: "/var/log/backup"
  localpath: "/var/log/engines/services/backup/"
  mapping_permissions: "rw"
 SystemLogs: !ruby/object:Volume
  name: SystemLogs
  remotepath: "/backup_src/logs"
  localpath: "/var/log/engines/"
  mapping_permissions: "ro"
 BackupKeys: !ruby/object:Volume
  name: BackupKeys
  remotepath: "/home/backup/.gnupg"
  localpath: "/opt/engines/etc/backup/keys/"
  mapping_permissions: "rw"
port: 
mapped_ports: []
last_result:
setState: running
nginxored: false
large_temp: true
conf_register_site: false
conf_register_dns: true
dependant_on:
- "dns"
- "volmanager"
- "syslog"
