--- !ruby/object:ManagedService
cont_user_id: 22050
container_name: firstrun
ctype: service
persistent: true
last_error: 
memory: '190'
hostname: firstrun
publisher_namespace: EnginesSystem
type_path: firstrun
port: 8484
kerberos: false
environments: []
volumes: 
mapped_ports:
 web:
  name: web
  port: 3000
  publicFacing: true
  external: 8484
  proto_type: tcp
environments:
- !ruby/object:EnvironmentVariable
 name: SYSTEM_API_URL
 value: http://_Engines_System(docker_ip):2380/
 has_changed: true 
 build_time_only: false
- !ruby/object:EnvironmentVariable
 name: HOSTNAME
 value: _Engines_System(system_hostname)
 has_changed: true 
 build_time_only: false 
- !ruby/object:EnvironmentVariable 
 name: SYSTEM_RELEASE
 value: _Engines_System(release)
 has_changed: true 
 build_time_only: false
image: _Engines_System(flavor)/firstrun:_Engines_System(release)
repo: na
last_result: 
setState: nocontainer
nginxored: false
conf_register_site: true
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"
