--- !ruby/object:ManagedService
container_name: docker_stats
publisher_namespace: SumoLogic
type_path: dockerstats
ctype: service
persistent: false
last_error: 
memory: '126'
hostname: dockerstats
domain_name: 
environments: []
image: engines/sumologic-dockerstats:_Engines_System(release)
arguments:
port: 
volumes:
 socket: !ruby/object:Volume
  name: socket
  remotepath: "/var/run/docker.sock"
  localpath: "/var/run/docker.sock"
  mapping_permissions: ro
repo: na
last_result: 
setState: running
nginxored: false
conf_register_site: false
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"