
RUN touch /home/app/npm-debug.log &&\
	chown node /home/app/npm-debug.log &&\
	mkdir -p /home/home_dir/.config &&\
	chown $ContUser /home/home_dir/.config &&\
ADD home/start.bash /home/start.bash

USER node

WORKDIR /home/app

	 



