--- !ruby/object:ManagedService
cont_user_id: 22012
container_name: syslog
publisher_namespace: SumoLogic
type_path: syslog
ctype: service
persistent: false
last_error: 
memory: '164'
hostname: syslog
domain_name: 
kerberos: false
environments: []
image: _Engines_System(flavor)/sumologic-syslog:_Engines_System(release)
port: 
mapped_ports:
- 
  name: syslog
  port: 514
  publicFacing: true
  proto_type: udp
  external: 514
- 
  name: syslog
  port: 514
  publicFacing: true
  proto_type: tcp
  external: 514
repo: na
last_result: 
setState: running
conf_register_site: false
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"