--- !ruby/object:ManagedService
container_name: syslog
publisher_namespace: SumoLogic
type_path: syslog
ctype: service
persistent: false
last_error: 
memory: '126'
hostname: syslog
domain_name: 
environments: []
image: engines/sumologic-syslog:_Engines_System(release)
port: 
mapped_ports:
- !ruby/object:WorkPort
  name: syslog
  port: 514
  publicFacing: true
  proto_type: udp
  external: 514
- !ruby/object:WorkPort
  name: syslog
  port: 514
  publicFacing: true
  proto_type: tcp
  external: 514
repo: na
last_result: 
setState: running
nginxored: false
conf_register_site: false
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"