--- !ruby/object:ManagedService
container_name: email
ctype: service
persistent: true
last_error: 
memory: '90'
hostname: email
publisher_namespace: EnginesSystem
type_path: email
port: 8000
volumes:
 ssl_dir: 
  name: ssl_dir
  remotepath: "/etc/ssl"
  localpath: "/var/lib/engines/cert_auth/services/email/"
  permissions: "ro"
 kdc: 
  name: kdc
  remotepath: "/etc/krb5kdc/keys/"
  localpath: "/var/lib/engines/auth/etc/krb5kdc/email/"
  permissions: "rw"
 spool:
  name: spool
  remotepath: "/var/spool/postfix/"
  localpath: "/var/lib/fs/services/postfix"
  permissions: "rw"
environments:
- !ruby/object:EnvironmentVariable
 name: DEFAULT_DOMAIN
 value: _Engines_System(default_domain)
 has_changed: true
 build_time_only: true
image: engines/email:_Engines_System(release)
mapped_ports:
 smtp:
  name: smtp
  port: 25
  publicFacing: true
  external: 25
repo: na
last_result: 
setState: nocontainer
nginxored: false
conf_register_site: true
conf_register_dns: true
conf_self_start: true
dependant_on:
- "dns"
- "nginx"
- "syslog"