<h1>System#index</h1>

<h2>System Details</h2>
<% cpu_cnt = Vmstat.cpu.length%>
<%= cpu_cnt %> Cpus<br />

<% 
one = @snapshop.load_average.one_minute
five =  Vmstat.load_average.five_minutes
fithteen =  Vmstat.load_average.fifteen_minutes
 %>
 <strong>Load Averages</strong><br />
 1 Minute:<b><%= one %></b><br>
 5 Minute:<b><%= five %></b><br /> 
 15 Minute:<b><%= fithteen%></b><br> 
 
 <p>
 	<strong>Memory</strong>
 	
 	
 </p>
 


